.allLink {
  text-decoration: none;
  color: var(--vinaup-green);
  font-size: 1.2rem;
}

.actionGroup {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  display: inline-block;
}